<div class='row'>
    <div class='col-lg-8 col-lg-push-2 col-md-10 col-md-push-1'>
        <h1>Almost done! just one more thing</h1>
        <div class="alert alert-danger">
            <h2>Confirm your email</h2>
            <p><b>Before we can send you the newsletter, you need to confirm your email address.</b></p>
            <p>You should have receieved an email containing a confirmation link - click that and you'll start receiving the newsletter :)</p>
            <br/>
        </div>
    </div>
</div>
